/* Container */
.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Gør det muligt at placere burgeren relativt til containeren */
}

/* Image Section */
.image-section {
  flex: 1;
  background-color: #f96f21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  gap: 10px;
}

.image-section img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

/* Text Section */
.text-section {
  flex: 2;
  padding: 40px;
  position: relative;
}

.text-section a {
  text-decoration: none;
  display: inline-block;
  background-color: #f96f21;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.text-section a:hover {
  background-color: #af9410;
}

/* Responsivt design til burgermenu */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Stak indholdet vertikalt på små skærme */
  }

  .text-section {
    text-align: center; /* Centrer teksten */
  }
}
